.login__button {
    border-style: none;
    padding: 0;
    margin: 216px auto 0;
    width: 358px;
    height: 50px;
    background-color: white;
    font-size: 18px;
    line-height: 1.2;
    color: black;
    border-radius: 2px;
    transition: 0.6s;
  
  }

  .login__button:hover {
    opacity: 0.85;
    cursor: pointer;
  }

  @media screen and (max-width: 520px) {
    .login__button {
      width: 238px;
      height: 46px;
      margin: 0 auto 25px;
      font-size: 14px;
    }
  
  }