.popup_opened {
  visibility: visible;
  transition: visibility 0.5s, opacity 0.5s ease;
  opacity: 1;

}

#popup-card-view .popup_opened{
  visibility: visible;
  transition: visibility 0.5s, opacity 0.9s ease;
  opacity: 1;
}
