.popup__form-title {
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: black;
  margin: 34px 64px 54px 36px;

}

@media screen and (max-width: 520px) {
  .popup__form-title {
    margin: 25px auto 75px;
    font-size: 18px;
  }

}
