.places {
  max-width: calc(100% - 400px);
  margin: 0 auto 67px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;

}

@media screen and (max-width: 1080px) {
  .places {
    max-width: calc(100% - 200px);
  }
}

@media screen and (max-width: 880px) {
  .places {
    max-width: calc(100% - 50px);
  }
}

@media screen and (max-width: 766px) {
  .places {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 555px) {
  .places {
    grid-template-columns: 1fr;
    max-width: calc(100% - 38px);
    margin: 0 auto 48px;
  }
}


